body
{
margin:0px;
border:0px;
padding:0px;
background-image:url(../fixedpicture/wenli.jpg);
}
.zutuanneirong_konge
{
  margin-right:70px;
}
.zutuanneirong_konge1
{
  margin-right:30px;
}
.zutuanneirong_konge2
{
  margin-right:15px;
}
.zutuanneirong_link:link
{
   	color:red;
	text-decoration:none;
}
.zutuanneirong_link:visited
{
   	color:#5B9BD5;
	text-decoration:none;
}
.zutuanneirong_link:hover
{
   	color:blue;
	text-decoration:none;
}
.zutuanneirong_navlink:link
{
	color:white;
	text-decoration:none;
}
.zutuanneirong_navlink:visited
{
	color:white;
	text-decoration:none;
}
.zutuanneirong_navlink:hover
{
	color:black;
	text-decoration:none;
}
.zutuanneirong_currentnavlink
{
	color:black;
	text-decoration:none;
}
.zutuanneirong_zutuanlink
{
	color:blue;
}

.ztnr_dengluzhuce1
{
	width:100%;
	min-width:970px;
	height:auto;
	min-height:30px;
	position:relative;
	background-color:#F0F0F0;
}
.ztnr_dengluzhuce2
{
	width:970px;
	height:auto;
	min-height:30px;
	margin:auto;
	position:relative;
	font-size:20px;
	color:#3A9D9A;
}
.ztnr_daohangtiao1
{
	width:100%;
	min-width:970px;
	height:auto;
	min-height:50px;
	position:relative;
	background-color:#5B9BD5;
	
}
.ztnr_daohangtiao2
{
	width:970px;
	height:auto;
	min-height:50px;
	margin:auto;
	position:relative;
	font-size:33px;
	color:white;
	vertical-align:middle;
}
.ztnr_zhongjianneirong1
{
	width:970px;
	height:auto;
	min-height:2000px;
	margin:50px auto; 
	padding:0px;
	position:relative;
	overflow:hidden;
}
.ztnr_zhongjianneirong2
{
	width:672px;
	height:27px;
	margin-bottom:10px;
	position:relative;
	background-color:#E8E8FF;
}
.ztnr_zhongjianzuobian1
{
	width:650px;
	height:auto;
	min-height:1000px;
	margin:0px;
	border:1px solid #E9E9E9;
	padding:10px;
	position:relative;
	float:left;
}
.ztnr_zhongjianzuobian2
{
	width:100%;
	height:auto;
	min-height:50px;
	position:relative;
	font-size:25px;
}
.ztnr_zhongjianzuobian3
{
	width:100%;
	height:auto;
	min-height:100px;
	margin-top:10px;
	position:relative;
}
.ztnr_zhongjianzuobian4
{
	width:60px;
	height:60px;
	margin-right:5px;
	position:relative;
	float:left;
}
.ztnr_zhongjianzuobian5
{
	width:570px;
	height:auto;
	min-height:50px;
	padding:5px;
	position:relative;
	float:right;
	line-height:25px;
	font-size:15px;
}
.ztnr_zhongjianzuobian6
{
	color:blue;
	border:1px solid #E4E4E4;
	background-color:#C8C8CA;
	
}
.ztnr_zhongjianxingchengjianjie1
{
	width:96%;
	height:auto;
	min-height:230px;
	margin-top:20px;
	padding:10px;
	position:relative;
	background-color:#E8E8FF;
}
.ztnr_zhongjianxingchengjianjie2
{
	width:100%;
	height:auto;
	min-height:30px;
	margin-top:10px;
	position:relative;
	font-size:19px;
}
.ztnr_zutuanneirong1
{
	width:96%;
	height:auto;
	min-height:230px;
	margin-top:20px;
	padding:10px;
	position:relative;
	word-spacing:break-word;
	line-height:40px;
	font-size:17px;
}
.ztnr_zutuanneirong2
{
	width:100%;
	height:300px;
	position:relative;
}
.ztnr_lvyoufangshi1
{
	width:99%;
	min-width:200px;
	height:auto;
	min-height:30px;
	margin-top:20px;
	position:relative;
	word-spacing:break-word;
	line-height:40px;
	font-size:17px;
	color:blue;
	background-color:#E8E8FF;
}
.ztnr_zhuyishixiang1
{
	width:96%;
	height:auto;
	min-height:230px;
	margin-top:20px;
	padding:10px;
	position:relative;
	word-spacing:break-word;
	line-height:40px;
	font-size:17px;
	color:blue;
	background-color:#E8E8FF;
}
.ztnr_tanlunlianxi1
{
	width:100%;
	height:auto;
	min-height:40px;
	margin-top:20px;
	position:relative;
	font-size:25px;
	background-color:#E8E8FF;
	color:blue;
}

.ztnr_huifu1
{
	width:100%;
	height:auto;
	min-height:100px;
	margin-top:15px;
	position:relatie;
	overflow:hidden;
}
.ztnr_huifu2
{
	width:80px;
	height:80px;
	margin-right:20px;
	position:relative;
	float:left;
}
.ztnr_huifu3
{
	width:540px;
	height:auto;
	min-height:100px;
	border-bottom:1px solid #E8E8FF;
	position:relative;
	float:right;
	font-size:15px;
}
.ztnr_huifu4
{
	color:grey;
	word-spacing:break-word;
	line-height:30px;
}
.ztnr_huifu5
{
	width:100%;
	height:auto;
	min-height:40px;
	margin-top:20px;
	position:relative;
	font-size:25px;
	background-color:#FAFAFA;
}
.ztnr_huifu6
{
	width:100%;
	height:auto;
	min-height:200px;
	border:3px solid #5B9BD5;
	margin-top:20px;
	position:relative;
}

.ztnr_huifu7
{
	width:99%;
	height:200px; 
	border:0px;color:grey;
}
.ztnr_huifu8
{
	width:99%;
	height:200px;
	border:0px;
	color:grey;
	display:none;
}
.ztnr_huifu9
{
	width:100%;
	height:50px;
	margin-top:5px;
	position:relative;
}
.ztnr_huifu10
{
	width:100%;
	height:50px;
	margin-top:5px;
	position:relative;
}
.ztnr_zhongjianzuobian
{
	width:260px;
	height:auto;
	min-height:1000px;
	margin:0px;
	border:1px solid #E9E9E9;
	padding:10px;
	position:relative;
	float:right;
}
.ztnr_lianxilan1
{
	width:100%;
	min-width:970px;
	height:auto;
	min-height:300px;
	position:relative;
	background-color:#BFBFBF;
	
}
.ztnr_lianxilan2
{
	width:970px;
	height:auto;
	min-height:250px;
	margin:auto; 
	padding-top:50px;
	position:relative;
	
}