<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <load file="__PUBLIC__/Css/baseCss.css"/>
    <load file="__PUBLIC__/Js/jquery.min.js"/>
    <load file="__PUBLIC__/Js/lejiaoliu.js"/>

    <script type="text/javascript">
        $(function(){

            //退出实现
            $("#loginout").click(function(){
                $.ajax({
                    type:"POST",
                    url:"__MODULE__/Login/loginout",
                    success:function(){
                        $(".fst_head_two").html($("#notlogin").html());
                    }
                });
            });
        });
    </script>
</head>
<body>

<div id="notlogin" style="display: none">
    <a href="__MODULE__/Login/index" >登陆</a>|
    <a href="__MODULE__/Login/reg">注册</a>
</div>

<div id="firstPart">
    <!--滚动条+登陆+注册开始-->
    <div class="fst_head">
        <!--滚动条开始-->
        <div>
            <marquee  class="fst_head_one pointer"   direction="left" scrollamount="3"           onmouseover="this.stop()" onmouseout="this.start()">
                驴友圈是一个为大家提供欢乐、互交与旅游胜地的平台，大家快来畅所欲言吧。
            </marquee>
        </div>
        <!--滚动条结束-->

        <!--登陆注册开始-->
        <div class="fst_head_two">
            <if condition="session('username') eq true">
              	 欢迎您:<a href="__MODULE__/Userinfo/index"><{$Think.session.username}></a> |
                <a id="loginout">退出</a>
                <else/>
                <a href="__MODULE__/Login/index" >登陆</a>|
                <a href="__MODULE__/Login/reg">注册</a>
            </if>
        </div>
        <!--登陆注册结束-->


    </div>
    <!--滚动条+登陆+注册结束-->

    <div class="fst_logo_search">
        <div class="fst_logo"><img src="__PUBLIC__/Images/common/logo.png" style="width: 300px;height: 100px;"/> </div>
        <input class="fst_search_text" type="text" placeholder="请输入胜地名称">
        <input class="fst_search_submit" type="submit" value="">
    </div>
</div>

<div id="secondPart">
    <ul id="scnd_ul">
        <li>
            <a href="__APP__/Home/Index/index">
                <img src="__PUBLIC__/Images/common/shouye.jpg">
            </a>
        </li>

        <li>
            <a href="__APP__/Home/Happy/index">
                <img src="__PUBLIC__/Images/common/lejiaoliu.jpg">
            </a>
        </li>

        <li>
            <a href="__APP__/Home/Strategy/index">
                <img src="__PUBLIC__/Images/common/gonglv.jpg">
            </a>
        </li>

        <li>
            <a href="__APP__/Home/Topic/index">
                <img src="__PUBLIC__/Images/common/luntan.jpg">
            </a>
        </li>

        <li>
            <a href="__APP__/Home/Tour/index">
                <img src="__PUBLIC__/Images/common/travelmate.jpg">
            </a>
        </li>

    </ul>
</div>

{__CONTENT__}

<div class="footer">
    <div>
        Copyright © 2016-2026 Onexplorer. All Rights Reserved
    </div>
    <div>Onexplorer版权所有</div>
</div>


</body>
</html>