<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<script type="text/javascript" charset="utf-8">
    window.UEDITOR_HOME_URL = "__ROOT__/Public/Ueditor/";
    $(document).ready(function () {
        //UE.getEditor('editor');
        var editor;
        var options = {
            initialFrameWidth:455,        //初化宽度
            initialFrameHeight:300,        //初化高度
            focus:false,                 //初始化时，是否让编辑器获得焦点true或false
            maximumWords:1000,            //允许的最大字符数
            toolbars:[
                [ 'source', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontsize', 'fontfamily', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'removeformat', 'formatmatch', 'autotypeset', 'pasteplain', '|', 'insertorderedlist', 'insertunorderedlist', 'link', 'insertimage','paragraph','addparagraph']
            ],
            enableAutoSave: false,
            wordCount:false,         //是否开启字数统计
            enableContextMenu: false,   //是否开启右击快捷方式
            paragraph:{'p':'','h2':''},//标题设置
            scaleEnabled:true,//文本框是否可以自动增长，设置为true，不可以，形成滚动条
        };
        editor = new UE.ui.Editor(options);
        editor.render("editor");


    });

</script>
<load href="__PUBLIC__/Ueditor/ueditor.config.js"/>
<load href="__PUBLIC__/Ueditor/ueditor.all.min.js"/>

<body>
<div class="container" style="margin: 50px  150px">
    <script id="editor" type="text/plain"  name="content"></script>
</div>
</body>
</html>